# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Binaries
binaries

# Environments
venv/

# JetBrains
.idea/

# macOS
.DS_Store

# Build
build/
package/
*.zip

# Dist
dist/
*.egg
*.egg-info

# Environment variables
*.env
